/* 
    Document   : myStyles.css
    Created on : Feb 20, 2013, 3:09:03 PM
    Author     : ludetc
    Description:
        Purpose of the stylesheet follows.
*/

.spectrum {
    -fx-background-color: #CCFF99;
}

root { 
    display: block;
}

